/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

ul, li {
  margin: 0;
  padding: 0;
}
