$padding: 1rem;

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: $padding;
}

.content {
  flex: 1 0 auto;

  ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-top: -1rem;

    li {
      display: block;
      width: 15rem;
      height: 15rem;
      max-width: calc(100vw - #{$padding * 2});
      max-height: calc(100vw - #{$padding * 2});
      margin-top: 1rem;
      margin-left: 1rem;
      padding: 1rem;

      overflow: hidden;
      background-color: #fbec75;
      text-decoration: none;
      box-shadow: 0 0 8px #BBB;
      color: black;
      word-wrap: break-word;

      &:hover {
        box-shadow: 2px 2px 8px #BBB;
        transform: translate(-2px, -2px);
      }

      &:last-child {
        position: relative;
        background-color: #fff9c6;
        text-align: center;

        div {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

.footer {
  flex-shrink: 0;
  margin-top: 1rem;
  color: gray;
  font-size: 0.7rem;

  a {
    color: inherit;
    text-decoration: underline;
  }
}
