<div class="content">
  <ul class="notes">
    <li [routerLink]="[note.id]"
        *ngFor="let note of data.notes">
      {{note.content}}
    </li>

    <li [routerLink]="newNoteId">
      <div>
        New note +
      </div>
    </li>
  </ul>
</div>

<div class="footer">
  Made by <a href="https://hichris.com">Chris Smith</a> · Available on <a
  href="https://gitlab.com/chris13524/yellownotes.io">GitLab</a>
</div>
